@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

:root {
  --primary: #F9F5FF;
  --secondary: #A2AF9B;
  --accent: #8AA624;

  --upper: #42307D;
  --text-seconary: #53389E;
}



